.product {
    width: 40vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
    box-shadow: 0px 2px 3px 0.5px rgb(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: none;
}

.product_image {
    width: 95%;
    height: 70%;
 
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_image img {
    width: 75%;
    height: auto;
}

.product_title {
    width: 95%;
    height: 30%;

    display: flex;
    text-align: center;
    align-items: center;
}

.product_title h3 {
    font-size: 8pt;
    color: #000000;
}

@media only screen and (min-width: 390px) {
    .product {
        width: 40vw;
        height: 25vh;
    }
}

@media only screen and (min-width: 412px) {
    .product_title h3 {
        font-size: 9pt;
    }
}

@media only screen and (min-width: 430px) {
    .product_title h3 {
        font-size: 9.5pt;
    }
}

@media only screen and (min-width: 1080px) {
    .product {
        width: 20vw;
        height: 50vh;
    }

    .product_title h3 {
        font-size: 12pt;
    }
}