.footer_wrapper {
    width: 100%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5E2B8;
}

/* Acima da linha do footer */

.footer_wrapper_top {
    width: 100%;
    height: 69%; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer_wrapper_top_company, .footer_wrapper_top_about {
    width: 20%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.footer_wrapper_logo {
    width: 40%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 45%;
    height: auto;
}

.company-title, .about-title {
    font-size: 16pt;
    margin-bottom: 10px;
}

/* Linha do footer */

.footer_wrapper_linebox {
    width: 100%;
    height: 1%;

    display: flex;
    justify-content: center;
}

.footer_wrapper_linebox_line {
    width: 70%;
    height: 50%;

    border-radius: 10px;
    background-color: black;
}

/* Abaixo da linha do footer */

.footer_wrapper_bottom {
    width: 100%;
    height: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_icons {
    width: 100%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_icons-icon {
    width: auto;
    height: 45%;
    margin: 10px;
}

.footer_wrapper_bottom_copyright {
    width: 100%;
    height: 25%;
    text-align: center;
}

/* efeitos */


.footer_wrapper_logo img:hover, .footer_icons-icon, .company-text, .about-text {
    cursor: pointer;
}

.company-text:hover, .about-text:hover, .footer_icons-icon:hover {
    color: rgb(0, 149, 255);
}

@media (max-width: 1279px) {
    .footer_wrapper_top {
        width: 100%;
        height: 74%;
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .footer_wrapper_logo {
        display: none;
    }

    .footer_wrapper_top_company, .footer_wrapper_top_about {
        width: 100%;
        height: 40%;
    }

    .footer_wrapper_top_company_items, .footer_wrapper_top_about_items {
        width: 100%;
        height: 100%;
        padding-left: 5%;
    }

    .company-title, .about-title {
        font-size: 14pt;
        margin-bottom: 5px;
    }

    .company-text, .about-text {
        font-size: 10pt;
    }

    .footer_wrapper_bottom {
        width: 100%;
        height: 25%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_wrapper_bottom_copyright {
        font-size: 10pt;
    }
}

@media (max-width: 912px) {
    .company-title, .about-title {
        font-size: 16pt;
        margin-bottom: 5px;
    }

    .company-text, .about-text {
        font-size: 14pt;
    }

    .footer_wrapper_bottom_copyright {
        font-size: 14pt;
    }
}


@media (max-width: 430px) {
    .company-title, .about-title {
        font-size: 14pt;
        margin-bottom: 5px;
    }

    .company-text, .about-text {
        font-size: 12pt;
    }

    .footer_wrapper_bottom_copyright {
        font-size: 11pt;
    }
}

