.product_description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_content {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10%;
    font-size: 0.7em;
}

.image_content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_content img {
    width: 70%;
    height: auto;
}

.buy_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.buy_content .wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 3px grey;
}

.buy_content .wrapper p {
    font-size: 1.5em;
    font-weight: 600;
    padding: 2%;
    color: #F80032;
}

.buy_content .wrapper div {
    width: 100%;
    height: auto;
    display: flex;
}

.buy_content .wrapper div button {
    width: 50%;
    height: 2em;
    margin: 2%;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    background-color: #F80032;
    color: white;
    box-shadow: 0px 0px 2px grey;
}

.buy_content .wrapper div button .icon {
    width: 1.4em;
    height: auto;
}

.buy_content .wrapper div button:hover {
    cursor: pointer;
}

.description_content {
    width: 100%;
    height: auto;
}

.description_content .section {
    width: 100%;
    height: 10vh;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #EBEBEB;
    box-shadow: 0px 0px 2px black;
}

.description_content .section p {
    font-weight: 600;
    font-size: 1.2em;
}

.description_content .section .icon {
    width: 1.4em;
    height: auto;
}

.description_content .description {
    width: 100%;
    height: auto;
}

.description_content .description div {
    padding: 1.5em;
    font-size: 0.8em;
}

@media only screen and (min-width: 1080px) {
    .product_description {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_content {
        width: 100%;
        height: auto;
        padding: 4%;
        font-size: 1.1em;
    }

    .image_content {
        width: 50%;
    }

    .buy_content {
        width: 30%;
    }

    .description_content .description {
        padding: 1.5%;
    }

    .description_content .description div {
        font-size: 1em;
    }
}