.header_wrapper {
    width: 100vw;
    height: 20vh;



    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.header-element {
    display: none;
}

.search_bar_wrapper {
    display: none;
}