.totopbutton {
  width: auto;
  height: auto;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
}

.totopbutton img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.totopbutton img:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .totopbutton img {
    width: 3rem;
    height: 3rem;
  }
}
